img{
    border: 2px dotted red;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition-duration: 3s;
    box-shadow: 100px 100px 60px red;
    /* perspective: 300px; */
}
div{
    perspective: 300px;
}
img:hover{
    /* transform: translateX(300px);
    transform: translateY(400px);
    transform: translate(300px, 400px); */
    /* transform: scale(140%); */
    /* transform: rotate(-30deg); */
    /* transform: skew(30deg, 40deg); */
    transform: rotateY(-180deg);
}
